@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img{
    @apply max-w-full select-none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }
  button, input{
    @apply focus:outline-none;
  }
}

@layer components {
}

@layer utilities {
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}