@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

$bgPrimary: white;
$textPrimary: black;

.grecaptcha-badge {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
    touch-action: none;
    overflow-x: hidden;
}

body {
    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track {
        background: $bgPrimary;
    }

    &::-webkit-scrollbar-thumb {
        background: #a19f9f;
        border-radius: 3px;
    }
    background: $bgPrimary;
    font-family: 'Source Sans Pro', sans-serif;
    color: $textPrimary;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#root {
    background: $bgPrimary;
    font-family: 'Source Sans Pro', sans-serif;
    color: $textPrimary;
}

.hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #151515;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: #a19f9f;
        border-radius: 3px;
    }
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.elipsis{
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
